   h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #737373;
    background-color: white;
    margin: 10px 13px 10px 13px;
}
table {
	margin: 10px 0 15px 0;
	border-collapse: collapse;
}
td,th {
	border: 1px solid #ddd;
	padding: 3px 10px;
}
th {
	padding: 5px 10px;
}

a {
    color: #0069d6;
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}
a img {
    border: none;
}
p {
    margin-bottom: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #404040;
    line-height: 36px;
}
h1 {
    margin-bottom: 18px;
    font-size: 30px;
}
h2 {
    font-size: 24px;
    margin-bottom: 0px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.instance-chunk {
    padding: 26px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 4px 2px #888888;
}

.instance-left {
    float: left;
    width: 131px;
    min-height: 200px;
}

.instance-right {
    border-left-style: solid;
    border-left-width: 1px;
    padding-left: 8px;
    margin-left: 140px;
    min-height: 260px;
}
.instance-head {
    font-size: 24px;
    padding-top: 0px;
}
h4.instance-head{
    font-size:12px;
    padding-top: 0px;
    text-align: right;
}

h4.instance-head a:link {
    text-decoration: none;
    color: black;
}
.instance-clicks {
    font-size: 18px;
    text-align: right;
    
}

.description-head {
}

.description-body {
}
.description-long {
    margin-top: 20px;
}

.contact-details {
    padding-top: 20px;
}
.stats {
    padding-bottom: 10px;
    font-weight: bold;
}

div.toot-group {
}
div.toot {
}
div.avvi-wall{
max-width: 155px;
float:left;
}

div.toot-disclosure{
min-height: 36px;
}

div.toot-avvi {
float: left;
margin: 2px;
}
div.avvi-wall-avvi{
float: left;
margin-bottom: -4px;
}
img.avvi-image {
width: 30px;
height: 30px;
}
div.toot-content {
min-height: 40px;
}
div.toot-media {
}
img.media-image {
    max-width: 100;
}

blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #fff;
    color:#737373;
    font-size: 11px;
    padding: 0;
}
sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
* {
	-webkit-print-color-adjust: exact;
}
@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin:10px auto;
    }
}
@media print {
	body,code,pre code,h1,h2,h3,h4,h5,h6 {
		color: black;
	}
	table, pre {
		page-break-inside: avoid;
	}
}


.ui-widget {
  background-color: #fff;
  font-family: sans-serif;
  border: solid;
  border-color: #eee;
  border-radius: 10px;
}
.ui-dialog-content{
  background: #fff;
  padding: 10px
}
.ui-dialog-titlebar {
  background-color: #eee;
  padding: 10px 5px 10px 0px;
}
.ui-dialog-title {
  padding: 10px;
}
.ui-dialog-titlebar-close {
  float: right;
  border: none;
  background: none;
  
}
input[type=checkbox] {
	margin: 5px;
}
.checkbox-entry {
  display: inline-block;
  width: 120px;
}

.ui-widget {
  background-color: #fff;
  font-family: sans-serif;
  border: solid;
  border-color: #eee;
  border-radius: 10px;
}
.ui-dialog-content{
  background: #fff;
  padding: 10px
}
.ui-dialog-titlebar {
  background-color: #eee;
  padding: 10px 5px 10px 0px;
}
.ui-dialog-title {
  padding: 10px;
}
.ui-dialog-titlebar-close {
  float: right;
  border: none;
  background: none;
  
}
input[type=checkbox] {
	margin: 5px;
}
.checkbox-entry {
  display: inline-block;
  width: 120px;
}
h4.dialog-head{
  padding: 0px;
  margin-bottom: -10px;
  font-size: 13px;
}
.ui-dialog {
    position: fixed !important;
}

div.page-description {
    padding-bottom: 20px;
}